import 'package:flutter/material.dart';
import 'package:flutter_test/flutter_test.dart';

import 'package:{{projectName}}/app/screens/home_screen.dart';

void main() {
  group('HomeScreen', () {
    testWidgets('displays a text', (WidgetTester tester) async {
      await tester.pumpWidget(const MaterialApp(home: HomeScreen()));

      expect(find.byType(Text), findsOneWidget);
    });
  });
}
