import 'package:alba/routing.dart';
import 'package:flutter/material.dart';

import 'routes.dart';

class MyApp extends StatelessWidget {
  const MyApp({Key? key}) : super(key: key);

  @override
  Widget build(BuildContext context) {
    return RouterBuilder(
      routeDefinitions: routes,
      builder: (routerDelegate, routeInformationParser) {
        return MaterialApp.router(
          restorationScopeId: 'app',
          routerDelegate: routerDelegate,
          routeInformationParser: routeInformationParser,
        );
      },
    );
  }
}
