import 'package:alba/framework.dart';
import 'package:flutter/material.dart';

class MyApp extends StatelessWidget {
  const MyApp({Key? key}) : super(key: key);

  @override
  Widget build(BuildContext context) {
    return MaterialApp.router(
      restorationScopeId: 'app',
      routerDelegate: app().pageRouterDelegate!,
      routeInformationParser: app().pageRouteInformationParser!,
    );
  }
}
