import 'package:alba/routing.dart';

import 'screens/home_screen.dart';
import 'screens/not_found_screen.dart';

var routes = [
  RouteDefinition(
    '/not-found',
    (context, parameters, query) => const NotFoundScreen(),
  ),
  RouteDefinition(
    '/',
    (context, parameters, query) => const HomeScreen(),
  ),
];
